@use "../abstracts" as *;
@use "../paths" as *;

header {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  .header-menu-area {
    border: 1px solid transparent;
    .header-nav {
      > ul.primary-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        > li {
          padding: 0 0 12px 0;
          margin: 0 5px 0 0;
          position: relative;

          > a {
            font-family: var(--font-secondary);
            font-weight: 600;
            position: relative;
            display: block;
            overflow: hidden;
            font-size: 14px;
            line-height: 40px;
            text-transform: uppercase;
            height: 40px;
            border-radius: 10px;
            padding: 0 24px 0 24px;
            min-width: 100px;
            text-align: center;
            transition: var(--transition-7);
            @media #{$lg-layout} {
              padding: 0 13px 0 13px;
              font-size: 13px;
            }
          }
          &.menu-item-has-children {
            a {
              padding: 0 42px 0 24px;
            }
            > a::after {

              content: "";
              position: absolute;
              bottom: 15px;
              right: 21px;
              width: 6.63px;
              height: 6.97px;
              background-image: url(#{$theme-root}/images/icons/arrow.svg);
              background-repeat: no-repeat;
              background-size: cover;
              -webkit-transition: background-color 0.3s ease;
              transition: background-color 0.3s ease;
              background-color: unset !important;


              // content: "";
              // width: 6px;
              // height: 6px;
              // margin-left: 8px;
              // border-right: 1.5px solid currentColor;
              // border-bottom: 1.5px solid currentColor;
              // transform: translateY(-1px) rotate(45deg);
            }
          }
          &.current-menu-item {
            a {
              background-color: var(--sage);
            }
          }

          > ul.sub-menu {
            position: absolute;
            left: 0;
            top: calc(100% + -7px);
            opacity: 0;
            visibility: hidden;
            transform: translateY(8px);
            pointer-events: none;
            transition: opacity 160ms ease, transform 160ms ease;
            z-index: 20;
            border-radius: 10px;
            background-color: var(--white);

            > li > a {
              padding: 13px 46px 13px 27px;
              text-transform: uppercase;
              color: #8a8176;
              display: block;

              // &:hover {
              //   background-color: #ebf7f6;
              // }
            }
          }

          &:hover,
          &:focus-within {
            > ul.sub-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
              pointer-events: auto;
            }
          }
          &:hover {
            > a {
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
    .header-button-group {
      .phone {
        white-space: nowrap;
        font-size: 17px;
        color: #46413b;
        display: flex;
        align-items: center;
        column-gap: 5px;
        svg {
          path {
            color: #888888;
            &#phone-dot {
              color: #000;
            }
          }
        }
      }
      .flex {
        display: flex;
      }
    }
  }
}

@media #{$lg-layout} {
  .header-top-strip,
  header nav,
  .header-button-group {
    display: none;
  }
}
