@use "../abstracts" as *;
@use "../paths" as *;

header {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .header-menu-area {
    .header-nav {
      > ul.primary-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        > li {
          padding: 0 0 12px 0;
          margin: 0 5px 0 0;
          position: relative;

          > a {
            font-family: var(--font-secondary);
            font-weight: 600;
            position: relative;
            display: block;
            overflow: hidden;
            font-size: 14px;
            line-height: 40px;
            text-transform: uppercase;
            height: 40px;
            border-radius: 10px;
            padding: 0 24px 0 24px;
            min-width: 100px;
            text-align: center;
            transition: var(--transition-7);
            @media #{$lg-layout} {
              padding: 0 13px 0 13px;
              font-size: 13px;
            }
          }
          &.menu-item-has-children {
            a {
              padding: 0 42px 0 24px;
            }
            > a::after {

              content: "";
              position: absolute;
              bottom: 15px;
              right: 21px;
              width: 6.63px;
              height: 6.97px;
              background-image: url(#{$theme-root}/images/icons/arrow.svg);
              background-repeat: no-repeat;
              background-size: cover;
              -webkit-transition: background-color 0.3s ease;
              transition: background-color 0.3s ease;
              background-color: unset !important;


              // content: "";
              // width: 6px;
              // height: 6px;
              // margin-left: 8px;
              // border-right: 1.5px solid currentColor;
              // border-bottom: 1.5px solid currentColor;
              // transform: translateY(-1px) rotate(45deg);
            }
          }
          &.current-menu-item {
            a {
              background-color: var(--sage);
            }
          }

          > ul.sub-menu {
            position: absolute;
            left: 0;
            top: calc(100% + -7px);
            opacity: 0;
            visibility: hidden;
            transform: translateY(8px);
            pointer-events: none;
            transition: opacity 160ms ease, transform 160ms ease;
            z-index: 20;
            border-radius: 10px;
            background-color: var(--white);

            > li > a {
              padding: 13px 46px 13px 27px;
              text-transform: uppercase;
              color: #8a8176;
              display: block;

              // &:hover {
              //   background-color: #ebf7f6;
              // }
            }
          }

          &:hover,
          &:focus-within {
            > ul.sub-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
              pointer-events: auto;
            }
          }
          &:hover {
            > a {
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
    .header-button-group {
      .phone {
        white-space: nowrap;
        font-size: 17px;
        color: #46413b;
        display: flex;
        align-items: center;
        column-gap: 5px;
        svg {
          path {
            color: #888888;
            &#phone-dot {
              color: #000;
            }
          }
        }
      }
    }
  }
}

.header-menu-area {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 19px 28px 21px 37px;
  transition: all 0.3s ease;
  margin-top: 18px;
  @include ml{
    padding: 12px 4px 15px;
    margin-top: 0;
    border: 0;
    background-color: unset;
  }
}

.sticky-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  background-color: var(--color-content-white);
  border-radius: 0 0 20px 20px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  will-change: transform;
  z-index: 99999;
  margin: 0 20px;
  @include ml{
    margin: 0;
    padding: 0 16px 0 20px;
    border-radius: 0;
  }
  .header-menu-area {
    transform: translateY(-100%);
    opacity: 1;
    transition: transform 0.45s ease-in-out;
    margin-top: 0;
    border: 0;
  }
}

.sticky-active.is-sticky {
  transform: translateY(0);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  .header-menu-area {
    transition-delay: 0.2s;
    transform: translateY(0);
  }
}

.sticky-active:not(.is-sticky) {
  .header-menu-area {
    transition-delay: 0s;
    transform: translateY(-100%);
  }
  transform: translateY(-100%);
  transition-delay: 0.2s;
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  border: 0;
  outline: none !important;
  padding: 0;
  background-color: unset;
  display: none;
  @include ml {
    display: inline-block;
  }
  span {
    display: block;
    width: 26px;
    height: 2px;
    cursor: pointer;
    text-align: center;
    background: var(--color-content-black2);
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
      width: 10px;
      margin-left: auto;
    }
  }
}

.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 111111;
  button[type="submit"] {
    background-color: unset;
    color: var(--color-content-black2);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    outline: none;
    padding: 0;
    font-size: 22px;
  }
  button[type="submit"]:hover {
    background: linear-gradient(to bottom, #45D0BD, #44B6E9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  input {
    width: 100%;
    padding: 0;
    padding: 0 0 0 60px;
    height: 25px;
    line-height: 25px;
    border: 0;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 16px;
    font-family: var(--font-secondary);
    text-transform: capitalize;
    color: #919191;
    &::placeholder{
      color: #919191;
    }
    @include ms{
        padding: 0 0 0 30px;
    }
  }
}
.search-popup.active {
  opacity: 1;
  visibility: visible;
  z-index: 9999999999;
}
.search-popup-content {
  padding: 35px 100px 34px 48px;
  width: 100%;
  z-index: 9999;
  background-color: var(--color-content-white);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.4s ease;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  form {
    display: flex;
    align-items: center;
  }
}
.search-popup.active {
  .search-popup-content {
    transform: scaleY(1);
    opacity: 1;
  }
}

@media #{$lg-layout} {
  header nav,
  .header-button-group {
    display: none;
  }
}

