.star-row {
  letter-spacing: 1px;
}

.aya-motif {
  margin-inline: auto;
  height: 200px;
  width: 200px;
  @apply border border-slate-300 bg-white mb-8 rounded-full mx-auto;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    display: block;
    width: 170px;
    height: 170px;
    background: #d5d5d5;
    border-radius: 50%;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
    opacity: 0;
    visibility: hidden;
    .stroke {
      fill: none;
      stroke: #7e7e7e;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
  }
  &.on {
    svg {
      opacity: 1;
      visibility: visible;
    }
  }
}
