/* Preloader overlay */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-content-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  .aya-motif {
    animation: scalePulse 1.5s infinite ease-in-out;
    height: 150px;
    width: 150px;
    border: none;
    svg {
      width: 130px;
      height: 130px;
      background: #fff;
      .stroke {
        stroke: #000;
        stroke-width: 3;
      }
    }
  }
}
// .preloader-wrapper {
//   overflow: hidden;
// }

@keyframes scalePulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}