node_modules/
dist/
.vite/

.env
.env.*

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/

# Dev build artifacts
src/public/
partials_copied/

src/styles/abstracts/_breakpoints.scss
src/styles/abstracts/_functions.scss.scss
src/styles/abstracts/_maps.scss
# src/styles/abstracts/_mixins.scss

src/styles/base/_base.scss

html/
aero-dest/
/components/
src/styles/aero/
images/
